body { background: #4ee788; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 49px; display: flex; }
.block-cache-0 { color: #3a33ea; font-size: 15px; margin-bottom: 5px; }
.block-cart-1 { color: #62ba2d; font-size: 16px; margin-bottom: 5px; }
.block-router-2 { color: #8f7a56; font-size: 19px; margin-bottom: 5px; }
.block-payment-3 { color: #e4c6ff; font-size: 15px; margin-bottom: 5px; }
.block-payment-4 { color: #1ca0d4; font-size: 12px; margin-bottom: 5px; }